<div class="row">
    <div class="col">
        <h1 class='text-center text-success'>Nouveau participant</h1>
    </div>
</div>
<div class="row justify-content-center">
    <div ng-controller="infosEvenementCtrl" class="col-12 col-sm-10 col-md-6 col-lg-4">
        <form name='positionCompteForm' ng-submit="afficheEvt()">  <!-- ng-submit équivaut à ng-click sur le bouton submit du formulaire, mais ne sera déclenché que si le navigateur considère le formulaire comme correctement rempli (cf. required etc) -->
            <div class="form-group" ng-controller="infosAllEvenementCtrl" ng-init="afficheAllEvt()">
                <label for="idEvt">Id de l'événement</label>
                <select ng-model='idchx' ng-options="evenements.information.id for evenements in evenements" required><option></option></select>
            </div>
            <button type="submit" class="btn btn-primary">Créer Participant</button>
        </form>
        <div ng-if="erreur" class='mt-2'>
            <div class="alert alert-danger" role="alert">
                {{erreur}}
            </div>
        </div>
        <div ng-if="evenementUnique.information.id" class="row justify-content-center"> <!-- le ng-if sur position.id et non pas sur position tout cours assure l'affichage uniquement si l'objet position existe et est correctement rempli-->
            <form name='creationEvtForm' ng-submit="ajouterAcc()"> <!-- idPar, nomPar, prenomPar, mailPar, telPar ng-submit équivaut à ng-click sur le bouton submit du formulaire, mais ne sera déclenché que si le navigateur considère le formulaire comme correctement rempli (cf. required etc) -->
                <div class="form-group">
                    <label for="idEvt">Participant à accompagner</label>
                    <select ng-model='accompagnateur.idPar' ng-options="mot.information.idPar as mot.information.nomPar for mot in {{evenementUnique.listeParticipants}}" required><option></option></select>
                </div>
                <div class="form-group">
                    <label for="idEvt">Id du participant</label>
                    <input type="number" class="form-control" id="idEvt" placeholder="Saisissez un id" required tabindex="1" ng-model='accompagnateur.idAcc'>
                </div>
                <div class="form-group">
                    <label for="nomEvt">Nom du participant</label>
                    <input type="text" class="form-control" id="nomEvt" placeholder="Nom" required tabindex="2" ng-model='accompagnateur.nomAcc'>
                </div>
                <div class="form-group">
                    <label for="prenomEvt">Prénom du participant</label>
                    <input type="text" class="form-control" id="prenomEvt" placeholder="Prénom" required tabindex="3" ng-model='accompagnateur.prenomAcc'>
                </div>
                <div class="form-group">
                    <label for="mailPar">Mail du participant</label>
                    <input type="text" class="form-control" id="mailPar" placeholder="Mail" required tabindex="4" ng-model='accompagnateur.mailAcc'>
                </div>
                <div class="form-group">
                    <label for="telPar">Téléphone du participant</label>
                    <input type="text" class="form-control" id="telPar" placeholder="téléphone" required tabindex="5" ng-model='accompagnateur.telAcc'>
                </div>
                <button type="submit" class="btn btn-primary">Créer</button>
            </form>
        </div>
    </div>
</div>