<div class="row">
    <div class="col">
        <h1 class='text-center text-success'>Création d'un événement</h1>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-md-6 col-lg-4">
        <form name='creationEvtForm' ng-submit="creerEvt()"> <!-- ng-submit équivaut à ng-click sur le bouton submit du formulaire, mais ne sera déclenché que si le navigateur considère le formulaire comme correctement rempli (cf. required etc) -->
            <div class="form-group">
                <label for="idEvt">Id de l'événement</label>
                <input type="number" class="form-control" id="idEvt" placeholder="Saisissez un id" required tabindex="1" ng-model='evenement.id'>
            </div>
            <div class="form-group">
                <label for="acrEvt">Acronyme de l'évenement</label>
                <input type="text" class="form-control" id="acrEvt" placeholder="Acronyme" required tabindex="2" ng-model='evenement.acronyme'>
            </div>
            <div class="form-group">
                <label for="nomEvt">Nom de l'évenement</label>
                <input type="text" class="form-control" id="nomEvt" placeholder="Nom" required tabindex="3" ng-model='evenement.nom'>
            </div>
            <div class="form-group">
                <label for="adrEvt">Adresse de l'évenement</label>
                <input type="text" class="form-control" id="adrEvt" placeholder="Adresse" required tabindex="4" ng-model='evenement.adresse'>
            </div>
            <div class="form-group">
                <label for="dateOuvIns">Date d'ouverture des inscriptions</label>
                <input type="date" class="form-control" id="dateOuvIns" min="2018-01-01" required tabindex="5" ng-model='evenement.dateOuvIns'>
            </div>
            <div class="form-group">
                <label for="dateFerIns">Date de fermeture des inscriptions</label>
                <input type="date" class="form-control" id="dateFerIns" min="2018-01-01" required tabindex="6" ng-model='evenement.dateFerIns'>
            </div>
            <div class="form-group">
                <label for="nb">Nombre maximum de participants</label>
                <input type="number" class="form-control" id="nb" placeholder="Nombre de participants" required tabindex="1" ng-model='evenement.nbMaxPar'>
            </div>
            <button type="submit" class="btn btn-primary">Créer</button>
        </form>
        <div ng-if="traitement.termine" class='mt-2'>
            <div ng-if="!traitement.erreur" class="alert alert-success" role="alert">
                Evénement correctement créé.
            </div>
            <div ng-if="traitement.erreur" class="alert alert-danger" role="alert">
                {{traitement.erreur}}
            </div>
        </div>
    </div>
</div>
